* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #B3CDE0;
}

#wrapper {
  margin: 0;
  padding: 0;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: "Roboto Slab", serif;
}
main h2 {
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 36px;
  font-family: "Zilla Slab", serif;
  border-bottom: 4px solid #6497B1;
}
main a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.15s ease-in-out;
}
main a:hover {
  color: #6497B1;
  text-decoration: underline;
}

.nounderline {
  border-bottom: 0;
  text-align: left;
  margin-bottom: 10px;
}
main section {
  grid-column: span 12;
  margin-top: 20px;
  color: white;
}
main section ul {
  list-style-type: none;
  padding-left: 12px;
}
h3 {
  font-family: "Zilla Slab", serif;
}
.paraindent p {
  margin-left: 24px;
  padding-bottom: 10px;
}
.aboutmain {
  grid-column: span 2;
}
#startright {
  grid-column-start: 3;
}
#mainpageimg {
  grid-column: span 12;
  margin-bottom: 24px;
  border-top: 4px solid #6497B1;
  text-align: center;
}
#mainpageimg img {
  width: 400px;
  height: 280px;
  border-radius: 25px;
}
#imggal {
  grid-column: span 12;
  margin-bottom: 24px;
  text-align: center;
}
#imggal img {
  width: 400px;
  height: 280px;
  border-radius: 25px;
  margin-bottom: 24px;
}
#aboutim {
  width: 200px;
  height: 200px;
  text-align: center;
}
#bigicons {
  font-size: 100px;
  text-align: center;
}
#sec-backcolor {
  background-color: #005B96;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
#sec-backcolor h2 {
  border: 0;
  padding-left:24px;
}
#sec-backcolor section {
  grid-column: span 1;
}

#sec-backcolor a:hover {
  color: #B3CDE0;
}

footer {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  background-color: #6497B1;
  text-align: center;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Tilt Neon", sans-serif;
}
footer a{
  text-decoration: none;
  color: white;
}
#contacthover a:hover{
  text-decoration: underline;
}



/* To make the navigation bar look good and make the hamburger menu work*/
.nav-bar {
  grid-column: span 12;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #6497B1;
  padding: 12px 20px;
  font-family: "Tilt Neon", sans-serif;
}
nav h1 a {
  text-decoration: none;
  color: white;
}
.menu {
  display: flex;
}
.menu li {
  padding-left: 30px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {display:none;}
@media(max-width:720px){
  .menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #6497B1;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu , .close-menu {
    display: block;
  }
  #check:checked ~ .menu{
    right: 0;
  }
}
/*End of the Hamburger Menu*/
/*Beginning of carousel*/
#myCarousel {
  margin-bottom: 24px;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}
/*end of carousel*/
/*Making image overlay*/
.container {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 50px;
  margin-right: 40px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: #6497B1;
  transform: translateY(240px);
  opacity: 1;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.overlayup {
  background-color: #6497B1;
  height: 25px;
  width: 40px;
  position: relative;
  z-index: 10000;
  top: -68px;
  border-top-right-radius: 100px;
  transition: .5s ease;
}
.container:hover .overlay {
  height: 60px;
  transform: translateY(230px);
  background-color: #005B96;
}
.container:hover .overlayup {
  background-color: #005B96;
  transform: translateY(-10px);
}
.text {
  color: white;
  font-size: 20px;
  font-family: "Zilla Slab", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*ending of making image overlay*/
/*Making the contact form*/
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #B3CDE0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #6497B1;
}

/* Add a background color and some padding around the form */
.containerrr {
  border-radius: 5px;
  padding: 20px;
  padding-top: 0;
}
/*End of the contact form*/